.container {
	width: 90%;
	margin: 1em 5%;
}

.content {
	width: 80%;
	margin: 0 auto;
}

.page {
	width: 80%;
	margin: 0 10%;
	min-height: 800px;
	border: 1px solid gray;
	background-color: white;
	font-family: "Garamon", serif;
	padding: 1em;
}

.title {
	font-size: 200%;
	text-align: center;
}

.description {
	text-align: center;
	font-style: italic;
}